<div class="topnav">
  <i (click)="openNav()" class="fa fa-bars" style="color: white;"></i>
  <a class="active" href="#home">JukeBox POC</a>
  <!-- <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a> -->
</div>

<div [style.width]="openOrClose" id="mySidebar" class="sidebar">
  <a class="closebtn" (click)="closeNav()">&times;</a>
  <a [routerLink]="['/party']" (click)="closeNav()">Sign In</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<!-- <div [style.width]="openOrClose" id="main">
  <button class="openbtn" (click)="openNav()">&#9776; Open Sidebar</button>
  <h2>Collapsed Sidebar</h2>
  <p>Content...</p>
</div> -->

<div class="content" role="main"> 


  <router-outlet></router-outlet>

</div>


