<div class="queue">
    <div *ngIf="playStatus === 'playing'">
        <youtube-player 
        (ready)="onReady($event)"
        (stateChange)="onStateChange($event)"
        [videoId]="selectedVid" 
        suggestedQuality="highres" 
        [height]="250" 
        [width]="500" >
    </youtube-player>
    </div>

    <button (click)="startItUp()">Start it up!</button>

    <div class="songcards">
        <div [ngClass]="{'active-video': vid.videoId === this.selectedVid}" *ngFor="let vid of newVids" class="songcard">
            <h3>{{vid.title}}</h3>
            <div class="img-cont">
                <img src={{vid.imageURL}}/>
            </div>
            <h1 style="text-align: center;">{{vid.vote}}</h1>
            <div class="button-holder">
                <button (click)="upVote(vid)">Upvote</button><button (click)="downVote(vid)">Downvote</button>
            </div>
        </div>
    </div>
</div>